<!--
  - Ocultar app-loading despues de 2000ms (2s) (simulando un fake loading) utilizando *ngIf y en su lugar mostrar la tabla de usuarios.
  - Completar el contenido del tbody de la tabla de usuarios utilizando *ngFor
-->

<app-loading></app-loading>

<div class="container-fluid">
  <h1 class="mb-3">
    Tabla de usuarios
  </h1>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre completo</th> <!-- Ojo aqui, nombre COMPLETO-->
        <th>E-mail</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <!-- AQUI COMPLETAR EL CONTENIDO -->
    </tbody>
  </table>
</div>
